@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Quicksand', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: 'Lora', serif;
  --radius: 0.75rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.9860 0.0019 84.5564);
  --foreground: oklch(0.3182 0.0115 248.1899);
  --card: oklch(0.9635 0.0055 67.7595);
  --card-foreground: oklch(0.3182 0.0115 248.1899);
  --popover: oklch(0.9860 0.0019 84.5564);
  --popover-foreground: oklch(0.3182 0.0115 248.1899);
  --primary: oklch(0.6335 0.1421 147.0021);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.8899 0.0395 57.7406);
  --secondary-foreground: oklch(0.3182 0.0115 248.1899);
  --muted: oklch(0.9374 0.0172 97.4979);
  --muted-foreground: oklch(0.5602 0.0322 229.6681);
  --accent: oklch(0.8730 0.0545 135.1500);
  --accent-foreground: oklch(0.3182 0.0115 248.1899);
  --destructive: oklch(0.6295 0.1785 23.7701);
  --border: oklch(0.8529 0.0266 145.3368);
  --input: oklch(0.9648 0.0049 84.5642);
  --ring: oklch(0.6335 0.1421 147.0021);
  --chart-1: oklch(0.6335 0.1421 147.0021);
  --chart-2: oklch(0.8899 0.0395 57.7406);
  --chart-3: oklch(0.9374 0.0172 97.4979);
  --chart-4: oklch(0.8730 0.0545 135.1500);
  --chart-5: oklch(0.7598 0.0209 248.1030);
  --sidebar: oklch(0.9408 0.0069 145.5200);
  --sidebar-foreground: oklch(0.3182 0.0115 248.1899);
  --sidebar-primary: oklch(0.5930 0.1422 146.6347);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.8534 0.0533 57.4725);
  --sidebar-accent-foreground: oklch(0.3182 0.0115 248.1899);
  --sidebar-border: oklch(0.8154 0.0336 145.2584);
  --sidebar-ring: oklch(0.5930 0.1422 146.6347);
  --destructive-foreground: oklch(0.9848 0 0);
  --font-sans: 'Quicksand', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(120, 10%, 50%);
  --shadow-opacity: 0.1;
  --shadow-blur: 0.5rem;
  --shadow-spread: -0.125rem;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0.015em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0.25rem 0.5rem -0.125rem hsl(120 10% 50% / 0.05);
  --shadow-xs: 0px 0.25rem 0.5rem -0.125rem hsl(120 10% 50% / 0.05);
  --shadow-sm: 0px 0.25rem 0.5rem -0.125rem hsl(120 10% 50% / 0.10), 0px 1px 2px -1.125px hsl(120 10% 50% / 0.10);
  --shadow: 0px 0.25rem 0.5rem -0.125rem hsl(120 10% 50% / 0.10), 0px 1px 2px -1.125px hsl(120 10% 50% / 0.10);
  --shadow-md: 0px 0.25rem 0.5rem -0.125rem hsl(120 10% 50% / 0.10), 0px 2px 4px -1.125px hsl(120 10% 50% / 0.10);
  --shadow-lg: 0px 0.25rem 0.5rem -0.125rem hsl(120 10% 50% / 0.10), 0px 4px 6px -1.125px hsl(120 10% 50% / 0.10);
  --shadow-xl: 0px 0.25rem 0.5rem -0.125rem hsl(120 10% 50% / 0.10), 0px 8px 10px -1.125px hsl(120 10% 50% / 0.10);
  --shadow-2xl: 0px 0.25rem 0.5rem -0.125rem hsl(120 10% 50% / 0.25);
  --tracking-normal: 0.015em;
}

.dark {
  --background: oklch(0.2664 0.0135 248.3348);
  --foreground: oklch(0.9648 0.0049 84.5642);
  --card: oklch(0.3170 0.0173 248.3715);
  --card-foreground: oklch(0.9648 0.0049 84.5642);
  --popover: oklch(0.2664 0.0135 248.3348);
  --popover-foreground: oklch(0.9648 0.0049 84.5642);
  --primary: oklch(0.7026 0.1254 147.9636);
  --primary-foreground: oklch(0.2664 0.0135 248.3348);
  --secondary: oklch(0.4821 0.0707 55.7128);
  --secondary-foreground: oklch(0.9648 0.0049 84.5642);
  --muted: oklch(0.3671 0.0139 248.2062);
  --muted-foreground: oklch(0.6854 0.0185 229.1283);
  --accent: oklch(0.4482 0.0543 135.5112);
  --accent-foreground: oklch(0.9648 0.0049 84.5642);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --border: oklch(0.4284 0.0314 145.0013);
  --input: oklch(0.3170 0.0173 248.3715);
  --ring: oklch(0.7026 0.1254 147.9636);
  --chart-1: oklch(0.7026 0.1254 147.9636);
  --chart-2: oklch(0.4821 0.0707 55.7128);
  --chart-3: oklch(0.3671 0.0139 248.2062);
  --chart-4: oklch(0.4482 0.0543 135.5112);
  --chart-5: oklch(0.6151 0.0269 84.5778);
  --sidebar: oklch(0.2977 0.0127 248.2521);
  --sidebar-foreground: oklch(0.9648 0.0049 84.5642);
  --sidebar-primary: oklch(0.6844 0.1546 146.9646);
  --sidebar-primary-foreground: oklch(0.2664 0.0135 248.3348);
  --sidebar-accent: oklch(0.4364 0.0695 55.3102);
  --sidebar-accent-foreground: oklch(0.9648 0.0049 84.5642);
  --sidebar-border: oklch(0.3791 0.0270 145.0184);
  --sidebar-ring: oklch(0.6844 0.1546 146.9646);
  --destructive-foreground: oklch(0.2664 0.0135 248.3348);
  --radius: 0.75rem;
  --font-sans: 'Quicksand', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(210, 10%, 5%);
  --shadow-opacity: 0.3;
  --shadow-blur: 0.75rem;
  --shadow-spread: -0.125rem;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0.375rem;
  --letter-spacing: 0.015em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0.375rem 0.75rem -0.125rem hsl(210 10% 5% / 0.15);
  --shadow-xs: 0px 0.375rem 0.75rem -0.125rem hsl(210 10% 5% / 0.15);
  --shadow-sm: 0px 0.375rem 0.75rem -0.125rem hsl(210 10% 5% / 0.30), 0px 1px 2px -1.125px hsl(210 10% 5% / 0.30);
  --shadow: 0px 0.375rem 0.75rem -0.125rem hsl(210 10% 5% / 0.30), 0px 1px 2px -1.125px hsl(210 10% 5% / 0.30);
  --shadow-md: 0px 0.375rem 0.75rem -0.125rem hsl(210 10% 5% / 0.30), 0px 2px 4px -1.125px hsl(210 10% 5% / 0.30);
  --shadow-lg: 0px 0.375rem 0.75rem -0.125rem hsl(210 10% 5% / 0.30), 0px 4px 6px -1.125px hsl(210 10% 5% / 0.30);
  --shadow-xl: 0px 0.375rem 0.75rem -0.125rem hsl(210 10% 5% / 0.30), 0px 8px 10px -1.125px hsl(210 10% 5% / 0.30);
  --shadow-2xl: 0px 0.375rem 0.75rem -0.125rem hsl(210 10% 5% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}